<div class="header">
  <h1 class="title" style="color:{{color}}">{{title}}</h1>
  <div class="line-break" style="background-color:{{color}}"></div>
  <h2 class="tag-line" style="color:{{color}}">{{tagLine}}</h2>
  <a href="tel:+1-303-499-7111"><div class="call-button" style="background-color:{{color}}"><img src="/images/phone.png"></div></a>
</div>
